extends layout

block content
  h1 Employer Details

  p #[strong Employer:] #{employer.employer_name}
  p #[strong Phone:] #{employer.employer_phone}
  p #[strong Street Address:] #{employer.employer_address1}
  p #[strong City:] #{employer.employer_city}
  p #[strong State:] #{employer.employer_state}
  p #[strong Zip:] #{employer.employer_zip}

  hr
  p
    a(href=employer.url+'/delete') Delete Employer
  p
    a(href=employer.url+'/update') Update Employer
