extends layout

block content
  h1 #{title}: #{employer.employer_name}

  if employers_patients.length

    p #[strong The following patients are connected to #{employer.employer_name}. In order to delete the employer, no patients may be connected to #{employer.employer_name}.]

    div(style='margin-left:20px;margin-top20px')

      dl
      each patient in employers_patients
        dt
          a(href=patient.url) #{patient.pat_firstName} #{patient.pat_lastName}

  else  
    p Are you sure you want to delete #{employer.employer_name}?

    form(method='POST' action='')
      div.form-group
        input#employerid.form-control(type='hidden', name='employerid', required='true', value=employer._id)

        button.btn.btn-primary(type='submit') Delete