extends layout

block content

  h1 Insurance Company Details

  p #[strong Insurance Company:] #{insurance.ins_co_name}
  p #[strong Phone:] #{insurance.ins_co_phone}
  p #[strong Street Address:] #{insurance.ins_co_address1}
  p #[strong City:] #{insurance.ins_co_city}
  p #[strong State:] #{insurance.ins_co_state}
  p #[strong Zip:] #{insurance.ins_co_zip}

  hr
  p
    a(href=insurance.url+'/delete') Delete Insurance Company
  p
    a(href=insurance.url+'/update') Update Insurance Company



