extends layout

block content
  h1 #{title} for #{patient.pat_firstName} #{patient.pat_lastName}

  h4 The patient record for #{patient.pat_firstName} #{patient.pat_lastName} will be permanently deleted if you proceed.

  form(method='POST' action='')
    div.form-group
      input#patientid.form-control(type='hidden', name='patientid', required='true', value=patient._id)

      button.btn.btn-primary(type='submit') Delete