extends layout

block content
  h1= title

  form(method='POST' action='')

    div(class='form row')
      div(class='form-group col-md-6')
        label(for='pat_firstName') First Name:
        input#pat_firstName.form-control(type='text', name='pat_firstName', value=(undefined===patient ? '' : patient.pat_firstName ) )
    div(class='form row')
      div(class='form-group col-md-6')
        label(for='pat_lastName') Last Name:
        input#pat_lastName.form-control(type='text', name='pat_lastName', value=(undefined===patient ? '' : patient.pat_lastName ) )
    
    div(class='form-group row')
      h2 Insurance and Employer
      div(class='form-row')
      div(class='form-group col-md-6')
        label(for='employer') Employer:
        select#employer.form-control(type='select', placeholder='Select Employer' name='employer')
          - employers.sort(function(a,b) {let textA = a.employer_name.toUpperCase(); let textB = b.employer_name.toUpperCase(); return (textA < textB) ? -1 : (textA > textB) ? 1 : 0;});
          for employer in employers
            if patient
              option(value=employer._id selected=(employer._id.toString()==patient.employer._id || employer._id.toString()==patient.employer) ? 'selected' : false) #{employer.employer_name}
            else
              option(value=employer._id) #{employer.employer_name}
      div(class='form row')
      div(class='form-group col-md-6')
        label(for='insurance') Insurance:
        select#insurance.form-control(type='select', placeholder='Select Insurance Company' name='insurance')
          - insurances.sort(function(a,b) {let textA = a.ins_co_name.toUpperCase(); let textB = b.ins_co_name.toUpperCase(); return (textA < textB) ? -1 : (textA > textB) ? 1 : 0;});
          for insurance in insurances
            if patient
              option(value=insurance._id selected=(insurance._id.toString()==patient.insurance._id || insurance._id.toString()==patient.insurance) ? 'selected' : false) #{insurance.ins_co_name}
            else
              option(value=insurance._id) #{insurance.ins_co_name}

    div(class='form-group row')
      h2 Address
      div(class='form row')
      div(class='form-group col-md-6')
        label(for='pat_address1') Address Line 1:
        input#pat_address1.form-control(type='text', name='pat_address1', value=(undefined===patient ? '' : patient.pat_address1 ) )
      div(class='form row')
      div(class='form-group col-md-6')
        label(for='pat_address2') Address Line 2:
        input#pat_address2.form-control(type='text', name='pat_address2', value=(undefined===patient ? '' : patient.pat_address2 ) )
      div(class='form row')
      div(class='form-group col-md-6')
        label(for='pat_city') City:
        input#pat_city.form-control(type='text', name='pat_city', value=(undefined===patient ? '' : patient.pat_city ) )
      div(class='form row')
      div(class='form-group col-md-4')
        label(for='pat_state') State:
        input#pat_state.form-control(type='text', name='pat_state', value=(undefined===patient ? '' : patient.pat_state ) )
      div(class='form-group col-md-2')
        label(for='pat_zip') Zip:
        input#pat_zip.form-control(type='text', name='pat_zip', value=(undefined===patient ? '' : patient.pat_zip ) )

    div(class='form-group row')
      h2 Contact Information
      div(class='form row')
      div(class='form-group col-md-4')
        label(for='pat_phone_home') Home Phone:
        input#pat_phone_home.form-control(type='text', name='pat_phone_home', value=(undefined===patient ? '' : patient.pat_phone_home ) )
      div(class='form row')
      div(class='form-group col-md-4')
        label(for='pat_phone_cell') Cell Phone:
        input#pat_phone_cell.form-control(type='text', name='pat_phone_cell', value=(undefined===patient ? '' : patient.pat_phone_cell ) )
      div(class='form row')
      div(class='form-group col-md-4')
        label(for='pat_phone_work') Work Phone:
        input#pat_phone_work.form-control(type='text', name='pat_phone_work', value=(undefined===patient ? '' : patient.pat_phone_work ) )
      div(class='form row')
      div(class='form-group col-md-6')
        label(for='pat_email') Email:
        input#pat_email.form-control(type='text', name='pat_email', value=(undefined===patient ? '' : patient.pat_email ) )
      
    div(class='form-group row')
      h2 Additional Information
      div(class='form row')
      div(class='form-group col-md-4')
        label(for='pat_gender') Gender:
        input#pat_gender.form-control(type='text', name='pat_gender', value=(undefined===patient ? '' : patient.pat_gender ) )
      div(class='form row')
      div(class='form-group col-md-4')
        label(for='pat_birthDate') DOB:
        input#pat_birthDate.form-control(type='date', name='pat_birthDate', value=(undefined===patient ? '' : patient.pat_birthDate ) )
      div(class='form row')
      div(class='form-group col-md-4')
        label(for='pat_ssn') SS#:
        input#pat_ssn.form-control(type='text', name='pat_ssn', value=(undefined===patient ? '' : patient.pat_ssn ) )
      div(class='form row')
      div(class='form-group col-md-6')
        label(for='pat_referred_by') Referred By:
        input#pat_referred_by.form-control(type='text', name='pat_referred_by', value=(undefined===patient ? '' : patient.pat_referred_by ) )
      
    div(class='form-group row')
      h2 Emergency Contact
      div(class='form-row')
      div(class='form-group col-md-6')
        label(for='emergency_firstName') First Name:
        input#emergency_firstName.form-control(type='text', name='emergency_firstName', value=(undefined===patient ? '' : patient.emergency_firstName ) )
      div(class='form row')
      div(class='form-group col-md-6')
        label(for='emergency_lastName') Last Name:
        input#emergency_lastName.form-control(type='text', name='emergency_lastName', value=(undefined===patient ? '' : patient.emergency_lastName ) )
      div(class='form row')
      div(class='form-group col-md-6')
        label(for='emergency_phone_cell') Cell Phone:
        input#emergency_phone_cell.form-control(type='text', name='emergency_phone_cell', value=(undefined===patient ? '' : patient.emergency_phone_cell ) )
      div(class='form row')
      div(class='form-group col-md-6')
        button.btn.btn-primary(type='submit') Submit
      
      if errors
        ul
          for error in errors
            li!= error.msg